.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.infected {
  border-bottom: 10px solid #9fc7df;
}

.recovered {
  border-bottom: 10px solid #4eb59c;
}

.deaths {
  border-bottom: 10px solid #e2a736;
}
